@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  top: 0;
  left: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--ff);
}

:root {
  --ff: "Montserrat", sans-serif;
  /* --bg-color:#3B2726;
  --text-color:#fff;
  --secondary-bg-color : #EEEDEC;
  --primary-bg-color:#FCFCF4; */
  --bg-color: rgba(0, 0, 0, 0.98);
  --secondary-bg-color: rgb(18, 18, 18);
  --text-color: #fff;
  --second-text-color: rgb(97, 206, 112);
  --links-color: rgb(196, 143, 86);
  --primary-fs: 36px;
  --second-fs: 28px;
  --paragraph-fs: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--ff);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 12rem 8% 2rem;
}

span {
  color: var(--second-text-color);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 12%;
  width: 100%;
  z-index: 100;
  background-color: var(--secondary-bg-color);
}

.header .logo {
  font-size: 2.4rem;
  font-weight: 600;
  cursor: default;
}

.header span {
  color: var(--second-text-color);
}

.navbar a {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 2rem;
  transition: 0.3s;
}

.header a:hover,
.header a.active {
  color: var(--second-text-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.home-image img {
  width: 35vw;
  flex: 1;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
}

.home-content h1 {
  color: var(--links-color);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
}

.home h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--second-text-color);
}

.home-content p {
  font-size: 1rem;
}

.social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  background: transparent;
  /* border: 0.2rem normal var(--links-color); */
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 2rem 1.2rem 2rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: var(--links-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--links-color);
}

.btn {
  width: 16vw;
  display: inline-block;
  text-align: center;
  background-color: var(--links-color);
  border: 2px solid rgb(112, 60, 4);
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 1.2rem;
  color: var(--secondary-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0 1rem var(--links-color);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 24px;
  background: var(--secondary-bg-color);
}

.about h2 {
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
}

.about-content {
  display: inline-block;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.about-image img {
  width: 100%;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
}

.portfolio {
  display: inline-block;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.portfolio h2 {
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  gap: 24px;
}

.image-gallery img {
  width: 400px;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
}

.image-gallery img:hover {
  box-shadow: 0 0 1rem var(--second-text-color);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 3.2rem;
}

.contact h2 {
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
}

.contact .contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.contact .contact-content p {
  display: block;
  text-align: left;
  justify-content: center;
  line-height: 1.2rem;
  width: 450px;
}

.contact .contact-content input {
  width: 100%;
  height: 3.6rem;
  padding: 1.6rem;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 8px;
}

.contact .contact-content textarea {
  width: 100%;
  padding: 1.6rem;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 8px;
  resize: none;
  height: 35vh;
}

.btnhome {
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3.2rem;
  margin-bottom: 3.2rem;
}

.bx-up-arrow-alt {
  color: var(--links-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: var(--secondary-bg-color);
  font-size: 2rem;
}

.bx-up-arrow-alt:hover {
  color: var(--bg-color);
  background-color: var(--links-color);
}

.footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: var(--secondary-bg-color);
  width: 100%;
}
